.temperature-display {
  margin: 40px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #333;
}

.date {
  font-size: 1rem;
  color: #333;
  margin-bottom: 10px;
}

.average-temperature {
  font-size: 4.5rem;
  font-weight: bold;
  color: #333;
  display: flex;
  align-items: start;
}

.temperature-value {
  line-height: 1;
  color: white;
}

.degree-symbol {
  font-size: 1rem;
  margin: 5px;
  color: white;
}
